
<div>
    <h2>Trocar a senha</h2>
    <p>Preencha os campos para trocar a senha</p>
    <div class="form-group" hidden>
        <label class="control-label" for="input-email">E-mail</label>
        <input style="width: 200px;" type="text" name="email" value="" [(ngModel)]="usuario.email" placeholder="E-mail"
               id="input-email" class="form-control alert alert-primary" [(ngModel)]="usuario.email">
        <div class="alert alert-primary hidden" id="erro3" role="alert">
            <p style="color: red;">* Preencha seu e-mail</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="input-password">Senha</label>
        <input style="width: 200px;" type="password" name="password" value="" required placeholder="Senha" id="input-password"
               class="form-control" [(ngModel)]="usuario.senha">
    </div>
  <div class="form-group">
    <label class="control-label" for="confirme-password">Confirme senha</label>
    <input style="width: 200px;" type="password" name="password" value="" required
           placeholder="Confirme a senha" id="confirme-password"
           class="form-control" [(ngModel)]="usuario.senhaConf">
  </div>
    <div class="form-group">
        <input type="button" value="Trocar senha" id="button-login" data-loading-text="Loading..." class="btn btn-primary" (click)="verifica()">
    </div>
</div>
